
<h1>QM</h1>

<form class="sidebar__form" >

  <select name="state">
    <option value="none">*State</option>
    <option value="Conservative">Conservative</option>
    <option value="Evangelical Friends Church Intl">Evangelical Friends Church Intl</option>
    <option value="Friends General Conference">Friends General Conference</option>
    <option value="Friends United Meeting">Friends United Meeting</option>
    <option value="Unaffiliated">Unaffiliated</option>
  </select>

  <select name="worshipstyle">
    <option value="none">*Style</option>
    <option value="Conservative">Conservative</option>
    <option value="Evangelical Friends Church Intl">Evangelical Friends Church Intl</option>
    <option value="Friends General Conference">Friends General Conference</option>
    <option value="Friends United Meeting">Friends United Meeting</option>
    <option value="Unaffiliated">Unaffiliated</option>
  </select>

  <select name="branch">
    <option value="none">*Branch</option>
    <option value="Conservative">Conservative</option>
    <option value="Evangelical Friends Church Intl">Evangelical Friends Church Intl</option>
    <option value="Friends General Conference">Friends General Conference</option>
    <option value="Friends United Meeting">Friends United Meeting</option>
    <option value="Unaffiliated">Unaffiliated</option>
  </select>

  <select name="yearlymeeting">
    <option value="none">*YM</option>
    <option value="Conservative">Conservative</option>
    <option value="Evangelical Friends Church Intl">Evangelical Friends Church Intl</option>
    <option value="Friends General Conference">Friends General Conference</option>
    <option value="Friends United Meeting">Friends United Meeting</option>
    <option value="Unaffiliated">Unaffiliated</option>
  </select>

  <button type="button" class="search-button" >Search</button>

</form>
