
<h1>QM</h1>

<form class="sidebar__form" >

  <select name="state" id="state">
    <option value="none selected">State</option>
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
    <option value="CA">California</option>
    <option value="CO">Colorado</option>
    <option value="CT">Connecticut</option>
    <option value="DE">Delware</option>
    <option value="DC">District of Columbia</option>
    <option value="FL">Florida</option>
    <option value="GA">Georgia</option>
    <option value="HI">Hawaii</option>
    <option value="ID">Idaho</option>
    <option value="IL">Illinois</option>
    <option value="IN">Indiana</option>
    <option value="IA">Iowa</option>
    <option value="KS">Kansas</option>
    <option value="KY">Kentucky</option>
    <option value="LA">Louisiana</option>
    <option value="ME">Maine</option>
    <option value="MD">Maryland</option>
    <option value="MA">Massachusetts</option>
    <option value="MI">Michigan</option>
    <option value="MN">Minnesota</option>
    <option value="MS">Mississippi</option>
    <option value="MO">Missouri</option>
    <option value="MT">Montana</option>
    <option value="NE">Nebraska</option>
    <option value="NV">Nevada</option>
    <option value="NH">New Hampshire</option>
    <option value="NJ">New Jersey</option>
    <option value="NM">New Mexico</option>
    <option value="NY">New York</option>
    <option value="NC">North Carolina</option>
    <option value="ND">North Dakota</option>
    <option value="OH">Ohio</option>
    <option value="OK">Oklahoma</option>
    <option value="OR">Oregon</option>
    <option value="PA">Pennsylvania</option>
    <option value="RI">Rhode Island</option>
    <option value="SC">South Carolina</option>
    <option value="SD">South Dakota</option>
    <option value="TN">Tennessee</option>
    <option value="TX">Texas</option>
    <option value="UT">Utah</option>
    <option value="VT">Vermont</option>
    <option value="VA">Virginia</option>
    <option value="WA">Washington</option>
    <option value="WV">West Virginia</option>
    <option value="WI">Wisconsin</option>
    <option value="WY">Wyoming</option>
    <option value="AB">Alberta</option>
    <option value="BC">British Columbia</option>
    <option value="NB">New Brunswick</option>
    <option value="NL">Newfoundland and Labrador</option>
    <option value="NS">Nova Scotia</option>
    <option value="NT">Northwest Territories</option>
    <option value="NU">Nunavut</option>
    <option value="ON">Ontario</option>
    <option value="PE">Prince Edward Island</option>
    <option value="QC">Quebec</option>
    <option value="SK">Saskatchewan</option>
    <option value="YT">Yukon</option>
  </select>

  <select name="worshipstyle" id="worshipstyle">
    <option value="none selected">Style</option>
    <option value="Programmed">Programmed</option>
    <option value="Unprogrammed">Unprogrammed</option>
    <option value="Semi-programmed">Semi-programmed</option>
  </select>

  <select name="branch" id="branch">
    <option value="none selected">Branch</option>
    <option value="Conservative">Conservative</option>
    <option value="Evangelical Friends Church Intl">Evangelical Friends Church Intl</option>
    <option value="Friends General Conference">Friends General Conference</option>
    <option value="Friends United Meeting">Friends United Meeting</option>
    <option value="Unaffiliated">Unaffiliated</option>
  </select>

  <select name="yearlymeeting" id="yearlymeeting">
    <option value="none selected">YM</option>
    <option value="Unaffiliated">Unaffiliated</option>
    <option value="Alaska Friends Conference">Alaska Friends Conference</option>
    <option value="Alaska YM">Alaska YM</option>
    <option value="Baltimore YM">Baltimore YM</option>
    <option value="Canadian YM">Canadian YM</option>
    <option value="Central YM">Central YM</option>
    <option value="EFC - Eastern Region">EFC - Eastern Region</option>
    <option value="EFC - Mid-America YM">EFC - Mid-America YM</option>
    <option value="EFC - Southwest">EFC - Southwest</option>
    <option value="Friends Of Jesus Fellowship">Friends Of Jesus Fellowship</option>
    <option value="Great Plains YM">Great Plains YM</option>
    <option value="Illinois YM">Illinois YM</option>
    <option value="Indiana YM">Indiana YM</option>
    <option value="Intermountain YM">Intermountain YM</option>
    <option value="Iowa (C)">Iowa (C)</option>
    <option value="Iowa (FUM)">Iowa (FUM)</option>
    <option value="JA de México">JA de México</option>
    <option value="Lake Erie YM">Lake Erie YM</option>
    <option value="Missouri Valley FC">Missouri Valley FC</option>
    <option value="New Association">New Association</option>
    <option value="New England YM">New England YM</option>
    <option value="New York YM">New York YM</option>
    <option value="North Carolina (C)">North Carolina (C)</option>
    <option value="North Carolina (FUM)">North Carolina (FUM)</option>
    <option value="North Pacific YM">North Pacific YM</option>
    <option value="Northern YM">Northern YM</option>
    <option value="Ohio Valley YM">Ohio Valley YM</option>
    <option value="Ohio YM">Ohio YM</option>
    <option value="Pacific YM">Pacific YM</option>
    <option value="Philadelphia YM">Philadelphia YM</option>
    <option value="Piedmont Friends Fellowship/YM">Piedmont Friends Fellowship/YM</option>
    <option value="Rocky Mountain YM">Rocky Mountain YM</option>
    <option value="South Central YM">South Central YM</option>
    <option value="Southeastern YM">Southeastern YM</option>
    <option value="Southern Appalachian YMA">Southern Appalachian YMA</option>
    <option value="Western Assn">Western Assn</option>
    <option value="Western YM">Western YM</option>
    <option value="Wilmington YM">Wilmington YM</option>
  </select>

  <button type="button" class="search-button">Search</button>

</form>
